<h1>Search Results</h1>


    <% @stores.each do |store| %>
    <div class='store'>
    Name: <%= store.longName  %>&nbsp;&nbsp;
    City: <%= store.city  %>&nbsp;&nbsp;
    Distance: <%= store.distance  %> miles&nbsp;&nbsp;
    Phone: <%= store.phone  %>&nbsp;&nbsp;
    Store Type: <%= store.storeType  %><br><br>
  </div>
  <% end %>
