<div class="container">
  <div class="row">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag'/search', method: :get, class: "form-inline" do %>
        <div class="form-group search-field">
          <%= text_field_tag :zip, "Enter a zipcode", class: "form-control" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>


    <div class="col-sm-12">
      <h1><%= @items.count %> Items</h1>
    </div>
  </div>
  <div class="row"></div>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item.name %></h5>
      <%= link_to(image_tag(item.image_url), item_path(item)) %>
      <p>
        <%= item.description %>
      </p>
    </div>
  <% end %>
</div>
